* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

.Header-Container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.Header-Container .Logo {
  color: #000000;
  font-size: 2rem;
  margin-right: auto;
  font-weight: bold;
}
.Header-Container .Logo i {
  color: #d84997;
}
.Header-Container .Navbar a {
  margin-left: 2rem;
  font-size: 1.5rem;
  color: #000000;
}
.Header-Container .Navbar a:hover {
  color: #d84997;
}
.Header-Container .Navbar #Nav-Close {
  font-size: 5rem;
  cursor: pointer;
  display: none;
  color: #000000;
}
.Header-Container .Menu-Icons a,
.Header-Container .Menu-Icons div {
  margin-left: 2rem;
  color: #000000;
  font-size: 1.7rem;
}
.Header-Container .Menu-Icons a:hover,
.Header-Container .Menu-Icons div:hover {
  color: #d84997;
}
.Header-Container .Menu-Icons #Menu-Btn {
  display: none;
}

.Search-Form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-110%);
}
.Search-Form.active {
  transform: translateY(0%);
}
.Search-Form #Close-Search {
  font-size: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #fff;
}
.Search-Form #Close-Search:hover {
  color: #d84997;
}
.Search-Form .Form-Container {
  width: 60rem;
  padding: 0 2rem;
  padding-bottom: 2rem;
  display: flex;
  border-bottom: 0.2rem solid #fff;
  justify-content: center;
  align-items: center;
}
.Search-Form .Form-Container input {
  width: 100%;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}
.Search-Form .Form-Container::-moz-placeholder {
  color: rgb(204, 204, 204);
}
.Search-Form .Form-Container:-ms-input-placeholder {
  color: rgb(204, 204, 204);
}
.Search-Form .Form-Container::placeholder {
  color: rgb(204, 204, 204);
}
.Search-Form .Form-Container label {
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
}
.Search-Form .Form-Container label:hover {
  color: #d84997;
}

@media (max-width: 1200px) {
  .Header-Container {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 768px) {
  .Header-Container .Navbar {
    width: 40rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: #fff;
    opacity: 0;
  }
  .Header-Container .Navbar.active {
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.767);
    opacity: 1;
  }
  .Header-Container .Navbar a {
    font-size: 3rem;
    margin: 1.5rem 0;
  }
  .Header-Container .Navbar #Nav-Close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .Header-Container .Navbar #Nav-Close:hover {
    color: #d84997;
  }
  .Header-Container .Menu-Icons #Menu-Btn {
    display: inline-block;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 60%;
  }
}/*# sourceMappingURL=style.css.map */