@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap: 1.5rem;
}
@mixin FontSize{
    font-size: 5rem;
}

.Header-Container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;

    .Logo{
        color: $black;
        font-size: 2rem;
        margin-right: auto;
        font-weight: bold;

        i{
            color: $pink;
        }
    }

    .Navbar{
        a{
            margin-left: 2rem;
            font-size: 1.5rem;
            color: $black;
            
            &:hover{
                color: $pink;
            }
        }  
        #Nav-Close{
            @include FontSize;
            cursor: pointer;
            display: none;
            color: $black;
        }     
    }
    .Menu-Icons a,
    .Menu-Icons div{
        margin-left: 2rem;
        color: $black;
        font-size: 1.7rem;
        
        &:hover{
            color: $pink;
        }    
    }
    .Menu-Icons{
        #Menu-Btn{
            display: none;
        }
    }
}

.Search-Form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-110%);

    &.active{
        transform: translateY(0%);
    }

    #Close-Search{
        @include FontSize;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        color: $white;

        &:hover{
            color: $pink;
        }
    }
    .Form-Container{
        width: 60rem;
        padding: 0 2rem;
        padding-bottom: 2rem;
        display: flex;
        border-bottom: .2rem solid $white;
        justify-content: center;
        align-items: center;

        input{
            width: 100%;
            font-size: 1.7rem;
            color: $white;
            text-transform: none;
            background: none;
        }

        &::placeholder{
           color: rgb(204, 204, 204);
        }

        label{
            font-size: 2.5rem;
            cursor: pointer;
            color: $white;

            &:hover{
                color: $pink;
            }
        }
    }
}










@media(max-width: 1200px){
    .Header-Container{
        padding: 2rem;
    }
}

@media(max-width: 991px){
    html{
        font-size: 60%;
    }
}

@media(max-width: 768px){
   .Header-Container{

        .Navbar{
            width: 40rem;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;           
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            z-index: 10000;
            background-color: $white;
            opacity: 0;

            &.active{                
                box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.767);
                opacity: 1;
            }

            a{
                font-size: 3rem;
                margin: 1.5rem 0;
            }

            #Nav-Close{
                display: block;
                position: absolute;
                top: 1rem;
                right: 1.5rem;

                &:hover{
                    color: $pink;
                }
            }
        }

        .Menu-Icons{
            #Menu-Btn{
                display: inline-block;
            }
        } 
   }
}
@media(max-width: 480px){
   html{
    font-size: 60%;
   }
}